<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StyleHome.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render(@"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="avatar">
                <i class="bi bi-person-circle"></i>
                @Html.ActionLink((User.Identity.IsAuthenticated ? User.Identity.Name : "Guest"), "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <button onclick="location.href='@Url.Action("Index", "Customer")'" class="nav-button">
                        <div class="center-top">
                            <i class="bi bi-person-badge"></i><br>
                            <span class="nav-name-header">Customers</span>
                        </div>
                        </button>
                    </li>
                    <li>
                        <button onclick="location.href='@Url.Action("Index", "Reservation")'" class="nav-button">
                            <div class="center-top">
                                <i class="bi bi-journal-text"></i><br>
                                <span class="nav-name-header">Reservations</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button onclick="location.href='@Url.Action("Index", "Room")'" class="nav-button">
                            <div class="center-top">
                                <i class="bi bi-door-open"></i><br>
                                <span class="nav-name-header">Rooms</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button  onclick="location.href='@Url.Action("Index", "Category")'" class="nav-button">
                            <div class="center-top">
                                <i class="bi bi-bookmark-star"></i><br>
                                <span class="nav-name-header">Categories</span>
                            </div>
                        </button>
                    </li>
                    <li>
                        <button  onclick="location.href='@Url.Action("Index", "PriceCategory")'" class="nav-button">
                            <div class="center-top">
                                <i class="bi bi-currency-dollar"></i><br>
                                <span class="nav-name-header">Price</span>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>
