@using System.Linq
@using Hotel.WEB.Models
@{
    ViewBag.Title = "Reservation";
}

<h2>Reservation</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#mainRoom">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profit">Profit for the month</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="mainRoom">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <table class=" table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Room
                    </th>
                    <th>
                        Reservation date
                    </th>
                    <th>
                        Arrival date
                    </th>
                    <th>
                        Departure date
                    </th>
                    <th>
                        Check in
                    </th>
                    <th>
                        Arrived
                    </th>

                </tr>
            </thead>
            @foreach (var item in ViewBag.Reservation)
            {
                <tbody id="myTable">
                    <tr>
                        <td>
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { onclick = $"return confirm('Are you sure you wish to delete this reservation (сustomer id - {item.CustomerId}, room id - {item.RoomId}, arrival date- {item.ArrivalDate}, departure date - {item.DepartureDate}) ?');", @class = "btn bi bi-trash" })
                        </td>

                        <td>
                            @{var customer = (ViewBag.Customers as IEnumerable<CustomerModel>).Where(c => c.Id == item.CustomerId).FirstOrDefault();
                                @Html.Encode(customer.FirstName + " " + customer.LastName)}
                        </td>
                        <td>
                            @{var room = (ViewBag.Rooms as IEnumerable<RoomModel>).Where(c => c.Id == item.RoomId).FirstOrDefault();
                                @Html.Encode(room.RoomNumber)}
                        </td>
                        <td>
                            @Html.Encode(item.ReservationDate.ToShortDateString())
                        </td>
                        <td>
                            @Html.Encode(item.ArrivalDate.ToShortDateString())
                        </td>
                        <td>
                            @Html.Encode(item.DepartureDate.ToShortDateString())
                        </td>
                        <td>
                            @Html.Encode(item.CheckIn)
                        </td>
                        <td>
                            @{
                                if (!item.CheckIn)
                                {
                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { onclick = $"return confirm('Are you sure you wish to mark arrival this customer ({customer.FirstName} {customer.LastName} {customer.MiddleName}) ?');", @class = "bi bi-check-lg" });
                                }
                            }
                        </td>

                    </tr>

                </tbody>
            }
        </table>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Add reservation
        </button>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add reservation</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="@Url.Action("Add","Reservation")">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="CustomerId">Customer passport</label>
                                    <br>
                                    @Html.DropDownList("CustomerId", ViewBag.CustomersSelectList as SelectList, "Select a customer")
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="RoomId">Room number</label>
                                    <br>
                                    @Html.DropDownList("RoomId", ViewBag.RoomsSelectList as SelectList, "Select a room")
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Reservation date">Reservation date</label>
                                    <input type="date" class="form-control" name="ReservationDate" placeholder="Reservation date" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Arrival date">Arrival date</label>
                                    <input type="date" class="form-control" name="ArrivalDate" placeholder="Arrival date" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Departure date">Departure date</label>
                                    <input type="date" class="form-control" name="DepartureDate" placeholder="Departure date" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <br>
                                    <input type="checkbox" name="CheckIn" value="false" />
                                    <label for="CheckIn">Check in</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary col-md-offset-10">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profit">
        <br>
        <form action="@Url.Action("ProfitForMonth","Reservation")">
            <div class="form-group">
                <label for="Check start date">Select month</label>
                <input type="date" class="form-control" name="dateCheck" placeholder="Check date" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate profit</button>
        </form>

    </div>
</div>


